<footer class="footer dark-footer pt-5 pb-4">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold mb-4">Get to Know Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">About Us</a></li>
          <li class="mb-2"><a href="#">Careers</a></li>
          <li class="mb-2"><a href="#">Press Releases</a></li>
          <li class="mb-2"><a href="#">Amazon Science</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold mb-4">Connect with Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Facebook</a></li>
          <li class="mb-2"><a href="#">Twitter</a></li>
          <li class="mb-2"><a href="#">Instagram</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold mb-4">Make Money with Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Sell on Amazon</a></li>
          <li class="mb-2"><a href="#">Become an Affiliate</a></li>
          <li class="mb-2"><a href="#">Advertise Your Products</a></li>
          <li class="mb-2"><a href="#">Amazon Pay on Merchants</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase fw-bold mb-4">Let Us Help You</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Your Account</a></li>
          <li class="mb-2"><a href="#">Returns Centre</a></li>
          <li class="mb-2"><a href="#">100% Purchase Protection</a></li>
          <li class="mb-2"><a href="#">Help</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-bottom text-center py-3">
    &copy; 2025 Your Company. All rights reserved.
  </div>
</footer>